@model List<ArtGallery2.ViewModel.DigitalPrintViewModel>
@{
    ViewBag.Title = "DigitalPrint";
}

<h2 class="text-center">Art</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <img src="@Html.DisplayFor(modelItem => item.Image)" alt="image" class="thumbnail"/>
            <h3 class="text-center">@Html.DisplayFor(modelItem => item.Title)</h3>
            @Html.ActionLink("View Details", "Detail", new { ArtWorkId = item.ArtWorkId})
        </div>
    }
</div>

