@model List<ArtGallery2.ViewModel.IndexViewModel>
@{
    ViewBag.Title = "Index";
}

<h1 class="text-center">Art Gallery</h1>
<br/>

<div class="row">
    @foreach(var item in Model) 
    {
      <div class="col-xs-6 col-md-3">
        <h2 class="text-center">@Html.DisplayFor(modelItem => item.Category)</h2>
        <a href="@Url.Action("ArtCollection", "Home", new { category = @item.Category})" class="thumbnail">
            <img src="@Html.DisplayFor(modelItem => item.Image)" alt="acrylic">
        </a>
    </div>
    }
</div>

