@model List<ArtGallery2.Models.ArtWork>
@{
    ViewBag.Title = "Index";
}

<h1 class="text-center">Art Gallery</h1>
<br/>
<div class="row">
    <div class="col-xs-6 col-md-3">
        <h2 class="text-center">Acrylic</h2>
        <a href="@Url.Action("DigitalPrint", "Home")" class="thumbnail">
        <img src="http://cdn.dailypainters.com/paintings/blue_moon_wolf__wolf_painting_by_texas_artist_laur_2b90135d1ac192dbeff1aa2d30c0598f.jpg" alt="acrylic">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <h2 class="text-center">Photography</h2>
        <a href="@Url.Action("Photography", "Home")" class="thumbnail">
            <img src="http://learn.corel.com/wp-content/uploads/2015/11/iPhone-Photography-Tips_thumb.jpg" alt="photography">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <h2 class="text-center">Mixed Media</h2>
        <a href="@Url.Action("MixedMedia", "Home")" class="thumbnail">
            <img src="http://www.digitalartscalifornia.com/wordpress/wp-content/themes/studiobox/timthumb.php?src=http://www.digitalartscalifornia.com/wordpress/wp-content/uploads/2014/07/wide2.nevado.2.deliberation.jpg&h=400&w=940&q=92&zc=3" alt="Mixed Media">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <h2 class="text-center">Sculptures</h2>
        <a href="@Url.Action("Sculpture", "Home")" class="thumbnail">
            <img src="http://images1.novica.net/pictures/10/p179257_2a_400.jpg" alt="sculpture">
        </a>
    </div>
</div>

